.btn {
    position: relative;
    width: 99px;
    margin: auto;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 36px;
}

.card {
    border-radius: 36px;
}

.nav-link:hover {
    text-decoration: overline darkgreen;
}