.btn {
    display: block;
    position: absolute;
    width: 7rem;
    margin-left: 110px;
    bottom: 12px;
    border-radius: 36px;
}

.form-check {
    right: 17px;
    position: absolute
}

.card {
    border-radius: 36px;
}

.nav-link:hover {
    text-decoration: overline darkgreen;
}

/* .nav-item.active {
    font-weight: bold;
} */